<div class="menu-container">
  <!-- Header Panel -->
  <div class="header-panel">
    <div class="header-info">
      <div class="user">
        <i class="far fa-user-circle"></i>
        <span>Hi, User!</span>
      </div>
      <div class="notif">
        <i class="far fa-bell"></i>
      </div>
    </div>
    <div class="header-card">
        <div class="bg-blue"></div>
        <div class="info-icon">
            <i class="fas fa-info-circle"></i>
        </div>
        <div class="card-top">
            <p class="title">Entering a public space?</p>
            <p class="sub-title">Stay alert to stay safe</p>
        </div>
        <div class="card-bottom">
            <span class="preference">
                <i class="fas fa-angle-down"></i>
                Check-In Preference
            </span>
            <button class="btn-scan">
                <i class="fas fa-qrcode"></i>
                Check-In
            </button>
        </div>
    </div>
  </div>
  <!-- End of Header Panel -->

  <!-- Menu Card -->
  <!-- End of Menu Card -->
</div>
