<div class="container">
  <span class="close">
    <i class="fas fa-times"></i>
    Tutup
  </span>

  <div class="marks-container">
    <div class="marks">
      <i class="fas fa-check"></i>
    </div>
    <span (click)="titleOnClick()" class="success-text">{{ title }}</span>
  </div>

  <form [formGroup]="checkInForm" class="info-card">
    <div class="card-user">
      <div class="info-group">
        <label for="username">Nama Lengkap</label>
        <input type="text" id="username" formControlName="username" />
      </div>
      <div class="info-group">
        <label for="nik">Nomor Induk Kependudukan (NIK)</label>
        <input type="text" id="nik" formControlName="nik" />
      </div>
      <span class="separator"></span>
    </div>
    <div class="card-user">
      <div class="info-group">
        <label for="loc">Lokasi Check-In</label>
        <input type="text" id="loc" formControlName="mall" />
      </div>
      <div class="info-group">
        <label for="tgl">Tanggal &amp; Waktu check-in</label>
        <p class="date" id="tgl">{{ tglMasuk }} WIB</p>
      </div>
      <div class="info-group">
        <label for="act">Kategori Aktivitas</label>
        <p (click)="activitasOnClick()" class="activity" id="act">
          {{ activitas }}
        </p>
      </div>
      <span class="separator"></span>
    </div>
    <div class="card-user">
      <div class="barcode-card">
        <div class="code-container">
          <img src="assets/img/qrcode.png" alt="" />
        </div>
        <button (click)="reloadPage()" class="show-code">Lihat QR Code</button>
      </div>
    </div>
  </form>
</div>
